<div class="container">
  <div class="create" ng-if="showCreate">
    <form name="habitForm" ng-submit="addHabit()">
      <table>
        <tr>
          <td>
            <label>
              Daily habit:
            </label>
          </td>
          <td>
            <input type="text" placeholder="Enter habit name" required ng-model="habit.habitName"/>
          </td>
        </tr>
        <tr>
          <td>
            <label>
              Remind me at:
            </label>
          </td>
          <td>
            <input type="time" required ng-model="habit.reminderTime"/>
          </td>
        </tr>
        <tr>
          <td>
            <label>
              Due at:
            </label>
          </td>
          <td>
            <input type="time" required ng-model="habit.dueTime"/>
          </td>
        </tr>
      </table>
      <button type="submit">
        Add habit
      </button>
    </form>
  </div>
  <div class="panel panel-danger" ng-if="showLimitExceed">
    <div class="panel-heading">Active Habit Limit</div>
    <div class="panel-body">Sorry, we do not track more than 3 daily active habits</div>
  </div>
</div>
